*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #26333D;
    height: 100px;
    width: 100%;
}

main{
    width: 100%;
    height:100% ;
    background-color: beige;
}

.layout-grid{
    height: 100%;
    margin: 0 auto;
    width: 100%;
    max-width: 992px;
    /* border: 3px solid white; */
}

header nav{
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 100%;
}


.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 80px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: background-color .5s;
    color: white;
    font-size: 90%;
}

section {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}



article h3 {
    display: flex;
    justify-content: center;    
    align-items: center;
    margin-top: 35px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 320px;
    width: 255px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    border: 1px solid black;
    font-size: large;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.bibliotec-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.livro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: -60px;
    border: 3px solid aqua;
    background-color: white;
}

.check-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: -60px;
    border: 3px solid aqua;
    background-color: white;
}

.heart-corazon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: -60px;
    border: 3px solid aqua;
    background-color: white;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

footer{
    background-color: #26333D;
}

.titulo{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
    
} 



.bibliotec-flex .titulo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: center;
    
}

.bibliotec-flex h1{
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
    font-family: "montserrat", system-ui;
    /* padding-bottom: 120px; */
}

.bibliotec-flex .titulo hr{
    width: 30%;
    border: 2px solid #2fd6cb;
}

.bibliotec-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
